/*layout*/



/*header specific*/

.site-header {
    color: #282828;  /*fff */
    height: 256px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

/*rapper navigation row*/
.site-header .wrapper-h {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
}


/*navigation text container*/

.site-header .navigation-text-container {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;

}

.navigation-text-row-container {
  height: 64px;
}

  /* container left */
.site-header .title-div {
    font-family: "Roboto Mono", Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    /*padding: 0 32px;*/
}
.site-header .title-div a {
    position: relative;
    left: 32px;
    text-decoration: none;
    color: #FFFF8d;
}

  /* nav ul - container right */

.site-header .navigation .navigation-items .navigation-item {
    display: inline-block;
    text-transform: uppercase;
}

.site-header .navigation .navigation-items .navigation-item a {
    color: #FFFF8d;
    padding: 0px 12px 0px 12px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: border-bottom-color 0.1s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.site-header .navigation {
    font-family: "Roboto Mono", Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
