/*shared layout*/


html, body {min-height: 100% !important;}

body {
    color: rgba(0,0,0,0.7);
    -webkit-font-smoothing: antialiased;
    font: 300 16px / 1.5 "Roboto", arial, sans-serif;
    font-family: Roboto, sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 0;
}


.site-width {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    /*border: solid 1px #333 development alignment border*/
}
.main ._fake-shadow, .site-header ._wrapper ._fake-shadow, .site-header ._color ._fake-shadow {
    /*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAYCAQAAAB68uRSAAAAKElE…hcGdgYGH4CyL+wVkI4g8W4jcuiT9YDPgHJ/7DiP9AAgBhORhg+gPD+AAAAABJRU5ErkJggg==');*/
    background-repeat: repeat-x;
    background-size: 1px 12px;
    height: 12px;
}
