/******** TODO: place in anohter proper architecture folder *********/
body {
    color: rgba(0,0,0,0.7);
    -webkit-font-smoothing: antialiased;
    font: 300 16px / 1.5 "Roboto", arial, sans-serif;
        font-family: Roboto, sans-serif;
        color: rgba(0,0,0,0.7);
        background: #fafafa;
        margin: 0;
        padding: 0;
    }

.site-header {
    color: #282828;          /* TODO: fff */
    height: 256px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.site-header .title {
    font-family: "Roboto Mono", Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    left: 32px;
    margin-left: -20px;
    /*opacity: 0;*/
    padding: 14px 20px;
    position: absolute;
    top: 0;
    visibility: hidden;
}
/****** End of TODO **********/

/* Shared */

.site-width {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}


/* Header */

.site-header {
  color: #282828;
}

/*top right navigation*/

.site-header .navigation-text {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
}

.site-header .navigation .navigation-items {
    height: 44px;
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    white-space: nowrap;
    display: inline-block;
    font-size: 0;
}

.site-header .navigation .navigation-items .navigation-item {
    display: inline-block;
    text-transform: uppercase;
}

.site-header .navigation .navigation-items .navigation-item a {
    padding: 19px 12px 22px 12px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: border-bottom-color 0.1s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.site-header .navigation {
    font-family: "Roboto Mono", Roboto, sans-serif;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 35px;
    letter-spacing: 0.25px;
    display: inline-block;
  }
/*navigation top right the end*/

/*fake header*/
.page {
    position: relative;
}
.page .fake-header {
    height: 256px;
    position: relative;
    z-index: 1001;
}

.page-title-container {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}

.page-title-container .page-title {
    /*color: #fff;*/$
    font-size: 56px;
    line-height: 1;
    padding: 0 32px;
    will-change: transform;
  }
