/*current css for cards in the blog list pages*/



.blog-teaser-block a {
  text-decoration: none;
}

.blog-teaser-block .text.light{
  color: #fff;
}
.blog-teaser-block .text.light{
  color: #333;
  /*color: #282828;*/
}

/*blog cards*/

#blog-cards-container {
  background-color: #fff;
  width: 97%
}

.card-outline {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}


/*heading*/

.blog-block .blog-title {
  font-family: "Roboto Mono", Roboto, sans-serif;
  font-weight: 400;
  margin: -2px 0;
}

.blog-block .blog-description {
font-weight: 400;
font-size: 14px;
line-height: 1.71429;
margin-top: 10px;
width: 85%;
}

.blog-cards-image img {
  /*image overhang fix 99.7*/
  width: 99.7%;
  max-height: 275px;
  border: solid 1px #333;
}


@media only screen and (min-width: 793px){

/*.grid-block.article.-aspect-1x1 ._text ._heading used to be*/
  #blog-cards-container {
    display: block;
    margin: 0 auto 10px;
  }

  #blog-cards-container .text .blog-cards-heading {
    padding: 28px 32px 30px;
  }

  .blog-block .blog-title {
    font-size: 24px;
    line-height: 1.33333;
  }

  .blog-cards-bottom-category {
    padding: 10px 32px 10px;
  }

  .chevron-right {
    text-align: right;
    padding: 10px 32px 10px;
  }

}

/*TODO: what is translate 3 -d*/

/*.grid-block ._text ._heading {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}*/


  /*paragraph description*/


/*source(like a reading morehref but it tells what section it will be more metadata)  left side 50%*/
.grid-block .source.-light {
  color: #fff;
}
