/*TO_DO
grid-block: need a different name that matches framework*/

.page .fake-header.detail {
  height: 64px;
}

.page .fake-header.detail {
  position: relative;
  z-index: 1001;
}

.header-container {
  border-bottom: 1px solid #e0e0e0;
}

.header-container {
  max-height: 220px;
  overflow: hidden;
}

/*minimum with 793*/
.grid-block.article.header {
  padding-bottom: 50%
}
/*the end of minimum  styles*/

.grid-block.article.header {
  background: #fff;
}
.grid-block.header {
  height: 0;don
}
.grid-block  {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  position: relative;
  display: block;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}


.grid-block.article.header .text {
  position: relative;
  width: 100%;
}

.grid-block .text.light {
  color: #fff;
}
.grid-block .text {
  z-index: 7;
}

.grid-block .text .heading {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


.grid-block .title {
    font-family: "Roboto Mono", Roboto, sans-serif;
    font-weight: 400;
    margin: -2px 0;
}

/*span hidden characters element styles holding off don't understand*/

.grid-block.header .description {
    display: none;
}

.grid-block .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    margin-top: 10px;
    width: 85%;
}

/*blog post bottom*/

.blog-post-detail {
    max-width: 760px;

}

.blog-post-detail {
    padding-top: 52px;
    padding-bottom: 80px;
}


/*blog post top minimum with*/
@media only screen and (min-width: 793px) {
  .grid-block.article.header .text {
    padding-left: 32px;
    padding-right: 32px;
  }

  .grid-block.article.header .text {
    padding: 28px 32px 30px;
  }

  .grid-block.header .title {
      font-size: 45px;
      line-height: 1.06667;
      margin: 32px 0 24px;
  }

  .grid-block .title {
      font-size: 24px;
      line-height: 1.33333;
  }


}
