/*current css for teaser*/


/*.

.blog-teaser-body {
    padding: 0px 82px 15px 32px;
}

.blog-excerpt {
  margin-bottom: 20px;
}*/

.blog-teaser-block a {
  text-decoration: none;
}

.blog-teaser-block .text.light{
  color: #fff;
}
/*heading*/

.blog-block .blog-title {
  font-family: "Roboto Mono", Roboto, sans-serif;
  font-weight: 400;
  margin: -2px 0;
}

.blog-block .blog-description {
font-weight: 400;
font-size: 14px;
line-height: 1.71429;
margin-top: 10px;
width: 85%;
}

.blog-teaser-image img {
  /*image overhang fix 99.7*/
  width: 99.7%;
  max-height: 275px;
  border: solid 1px #333;
}

#blog-teaser-container {
  background-color: #01579B;
}


@media only screen and (min-width: 793px){

/*.grid-block.article.-aspect-1x1 ._text ._heading used to be*/
  #blog-teaser-container .text .blog-teaser-heading {
    padding: 28px 32px 30px;
  }

  .blog-block .blog-title {
    font-size: 24px;
    line-height: 1.33333;
  }

}

/*TODO: what is translate 3 -d*/

/*.grid-block ._text ._heading {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}*/


  /*paragraph description*/


/*source(like a reading morehref but it tells what section it will be more metadata)  left side 50%*/
.grid-block .source.-light {
  color: #fff;
}
