/* layer 2 bottom - main */
.main ._main-wrapper {
    position: relative;
}

.main ._fake-shadow {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9998;
}

/* blog list or main content */

/*.g-row {
    font-size: 0;
    margin: 0;
    padding: 0;
}*/

/*.g-column {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    padding: 0;
  }*/
  /*element.style {
  }
  .g-column {
      display: inline-block;
      font-size: 16px;
      vertical-align: top;
      padding: 0;
  }
  .g-1-2 {
      width: 50%;
  }





  element.style {
  }
  .grid-block.article.-hoverable {
      transition: -webkit-filter 0.1s ease-out, filter 0.1s ease-out;
  }

  .grid-block.-aspect-1x1 {
      height: 0;
      padding-bottom: 100%;
  }

  .grid-block {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      font-family: Roboto, sans-serif;
      font-weight: 400;
      position: relative;
      display: block;
      text-decoration: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
  }
  a {
      background: transparent;
  }



  element.style {
      background-color: #01579B;
  }
  .grid-block ._bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
  }*/



/*.blog-teaser-heading {
    padding: 28px 32px 15px;
}

.blog-teaser-body {
    padding: 0px 82px 15px 32px;
}

.blog-excerpt {
  margin-bottom: 20px;
}*/
